* {
	-webkit-box-sizing: border-box;
}

.page {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	padding-top: 44px;
	min-height: 100vh;
	background: #f8f8f8;
}

.ui-panel {
	background: #fff;
	h2 {
		position: relative;
	}

	.ui-panel-subtitle {
		position: absolute;
		right: 25px;
		top: 0px;
	}
}

.fade-transition {
	&.fade-enter {
		animation: fade-enter 400ms forwards;
		z-index: 2;
	}

	&.fade-leave {
		animation: fade-leave 400ms forwards;
		z-index: 1;
	}
}

@keyframes fade-enter {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-leave {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.5;
	}
}

.banner {
	position: relative;
	overflow: hidden;
	height: 180px;

	.blur {
		height: 220px;
		width: 120%;
		margin-left: -10%;
		margin-top: -20px;
		filter: blur(5px);
		background-position: top;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 140%;
			height: 140%;
			background: #000;
			opacity: 0.3;
			left: -20%;
			top: -20%;
		}
	}

	.info {
		position: absolute;
		width: 100%;
		height: 180px;
		top: 0px;
		left: 0px;

		.img {
			float: left;
			border: 2px solid #fff;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
			margin-left: 10px;
			margin-top: 20px;

			img {
				width: 100px;
				height: 140px;
				display: block;
			}
		}

		.txt {
			padding-top: 21px;
			color: #fff;
			padding-left: 130px;
			padding-right: 10px;

			p {
				margin-top: 5px;
				text-shadow: 0px 0px 3px rgba(0,0,0,0.3)
			}
		}
	}
}

.list-one {
	.ui-list-img, .ui-list-img img {
		width: 60px;
		height: 84px;
	}
}